ipython>=7.0.0, <8.0
jupyter>=1.0.0, <2.0
nbstripout==0.3.3
pyyaml
bs4
requests
boto3
opencv-contrib-python>=4.1.0.25, <5.0
csvkit
numpy
cvlib
datetime
imageio-ffmpeg
imageio
pyarrow
matplotlib
tensorflow>=1.14.0, <2.0
awscli>=1.16.198, <2.0
sqlalchemy
pandas==0.24.2
psycopg2==2.6.2
seaborn>=0.9
sklearn
